.gradient {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(334deg,  #000000,rgb(24, 24, 24),rgb(44, 44, 44),rgb(59, 58, 58));
	background-size: 180% 180%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow:hidden;
	overflow-y:scroll;
	animation: gradient-animation 5.5s ease infinite;
	z-index:-1;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%
	}
}
::-webkit-scrollbar {
	width: 0px;
  }

.navbar{
	position:fixed;
	top:0;
	width:100%;
	z-index:10;
}
@media screen and (max-width :800px){
	.links{
		display:none
	}
}

@media screen and (min-width :800px){
	.dropdown{
		display:none
	}
}

.setting-z-index{
	z-index:6;
}

canvas{
	height:10vh !important;
	width: 10vw !important;
}

.blob-overlay {
	position: absolute;
	top: 0;
	left: 0;
	
	z-index: -1;
  }
.contactme{
	z-index:5
}
