.gradient {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(334deg,  #000000, #303030, #404040);
	background-size: 180% 180%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow:hidden;
	overflow-y:scroll;
	animation: gradient-animation 6s ease infinite;
	z-index:-1;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%
	}
}
::-webkit-scrollbar {
	width: 0px;
  }

.navbar{
	position:fixed;
	top:0;
	width:100%;
	z-index:10;
}
.blob{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%); 
	z-index:-2;
}
.setting-z-index{
	z-index:6;
}

